/*color scheme
	background: #3D1F00 (brown);
	contrast: #FF6699 (pink);
	highlight: #00CC99 (turquois);
*/

body{
	font: 'Varela Round', sans-serif;
	color:rgba(225,225,225,0.7);
	background-color:black;
	font-size: 20px;
}

.color-black{
	background-color:rgba(0,0,0, 0.6);
}

#side-menu{
	z-index: 10;
	position:fixed;
	top:10px;
	right: 10px;
	text-align:right;
	width:100%;
	font-family:'Raleway';
	font-weight: 100;
	font-size: 24px;
}

#side-menu div{
	padding:5px 2%;
	display:inline-block;
	border-radius: 2px;
	color:white;
}

#side-menu div.active{
	/*border-bottom:2px solid rgba(225,225,225, 0.4);*/
	background-color:rgb(255,132,183);
	color:black;
	font-weight: 400;
}

.splash-div{
	width:100%;
}

.splash-bg{
	z-index: 0;
	position:fixed;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background-position:center;
	background-size:cover;
	background-color:rgba(61, 31, 0, 0.6);
	background-blend-mode: multiply;
}

.full-height{
	height:100%;
}

.full-center{
	padding-top:19%;
}

#splash-content-container{
	z-index: 5;
	position:absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
}

.splash-subtitle:before{
    content:' ';
    display:block;
    border:1px solid rgba(225,225,225, 0.4);
    margin-bottom:10px;
}

#splash-title{
	position:relative;
	color: rgba(255,132,183, 0.4);
	text-align: center;
	top:0;
	font-size:420%;
	width:100%;
	height:100%;
	font-family: 'Alegreya Sans SC', sans-serif;
	line-height: 70px;
}

.splash-subtitle{
	color:rgba(225,225,225, 0.8);
	text-align: center;
	font-size:24px;
	text-transform: uppercase;
	margin:0 10px;
	font-family: 'Raleway';
	font-weight: 400;
	line-height: 30px;
}


.btn-trans {
      background:none;
      box-shadow:none;
}

.btn-trans-default {
     border: 2px solid rgba(225,225,225, 0.8);
     color:rgba(225,225,225, 0.8);
}

.btn-trans-default:hover {
     background:rgba(225,225,225, 0.8);
}

.contact-links{
	text-align: center;
}

.contact-links a{
	text-decoration: none;
	color:white;
	font-size: 30px;
	margin:20px;
}

.contact-links a:hover{
	color:#00CC99;
}

h2, h3{
	font-family: 'Raleway';
	font-weight: 100;
	color:white
}
h2{
	text-align: center;
	margin:0;
	font-size:50px;
}

.container{
	padding:20px;
	margin-bottom:40px;
}

.chart-caption{
	text-align: center;
}

.circle-image{
	border-radius: 100%;
	width:61%;
}

.credit{
	text-align:center;
	font-size:12px;
}

.square-img{
	position: relative;
	width: 100%;
	background-size: cover;
	background-position: center;
}
.square-img:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.hover-hightlight{
	padding:10px;
	-moz-transition: all .1s` ease-in;
    -o-transition: all .1s` ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
.hover-hightlight:hover{
	background-color:rgb(0,204,153);
	color:black;
}

.anchor-no-style{
	color:rgba(225,225,225, 0.8);
	text-decoration: none !important;
}

.anchor-np-style:hover{
	text-decoration: none !important;
}

button:focus{
	color:rgba(225,225,225, 0.8) !important;
}