.title{
	margin-bottom:20px;
}

menuitem{
	padding:20px;	
}

h3{
	padding:0;
	margin:0;
}

.recipesContainer{
	padding:10px;
	-webkit-transition: background 0.21s linear;
	-moz-transition: background 0.21s linear;
	-ms-transition: background 0.21s linear;
	-o-transition: background 0.21s linear;
	transition: background 0.21s linear;
}

.recipesContainer:hover{
	background-color: #eeeeee;
}

.dishPic{
	margin:10px 0;
	width:100%;
}

.share-btn{
	font-size: 20px;
	-o-transition:.21s;
	-ms-transition:.21s;
	-moz-transition:.21s;
	-webkit-transition:.21s;
	transition:.21s;
	display:none;
}
.share-btn:hover{
	color:#4099FF;
	cursor:pointer;
}

.titleLink{
	color:black;
	text-decoration: none;
}

.titleLink:hover{
	color:black;
	text-decoration: none;
}

.share-btn-container{
	position:relative;
	height:0px;
	padding:0px;
	margin-top:0px;
	float:left;
	background-color: rgba(255, 255, 255, 0.8); 
}

#about-btn:hover, #share-btn:hover{
	cursor: pointer
}