.title{
	margin-bottom:20px;
}

menuitem{
	padding:20px;	
}

h3{
	padding:0;
	margin:0;
}

.recipesContainer{
	padding:10px;
	-webkit-transition: background 0.21s linear;
	-moz-transition: background 0.21s linear;
	-ms-transition: background 0.21s linear;
	-o-transition: background 0.21s linear;
	transition: background 0.21s linear;
}

.recipesContainer:hover{
	background-color: #eeeeee;
}

.dishPic{
	margin:10px 0;
	width:100%;
}

.share-btn{
	display:none;
}
.share-btn,
#displayer-share-btn{
	font-size: 20px;
	-o-transition:.21s;
	-ms-transition:.21s;
	-moz-transition:.21s;
	-webkit-transition:.21s;
	transition:.21s;
}

#displayer-share-btn:hover,
.share-btn:hover{
	color:#4099FF;
	cursor:pointer;
}

.titleLink{
	color:black;
	text-decoration: none;
}

.titleLink:hover{
	color:black;
	text-decoration: none;
}

.share-btn-container{
	position:relative;
	height:0px;
	padding:0px;
	margin-top:0px;
	float:left;
	background-color: rgba(255, 255, 255, 0.8); 
}

#about-btn:hover, 
#share-btn:hover, 
#displayer-close:hover,
.dishPic:hover{
	cursor: pointer
}
#displayer-close:hover{
	color:#666;
}

.recipe-displayer{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	background-color: rgba(255, 255, 255, 0.8); 
}

#recipe-displayer{
	position:absolute;
	top:0;
	left:0;
	padding:5% 10%;
	display:none;
}
.displayer-scrollable{
	background-color: white; 
}

#displayer-image{
	width:100%;
}