body{
    font-family: 'Open Sans', sans-serif;
}
#leftBar{
	display: block;
	position:absolute;
	top: 0px;
	left: 0px;
	width: 18%;
	text-align: right;
	font-size: 16px;
	bottom:0;
	background-color: #669999;
	height:100%;
	
}
#index{
	overflow-y: scroll;
	color: white;
	padding: 2% 7% 2% 7%;
}
#title{
	/*padding: 10% 6% 6% 6%;*/
	color: #ddffff;
}
#title h1{
	font-weight: normal;
	font-size:30px;
	padding: 0;
	margin: 0;
}
#about{
	color: #ddffff;
	background-color: #666666;
	padding: 10% 7% 4% 7%;
}
#index a, #about a{ 
	color: white; 
	text-decoration: none;
} 
#index a:hover, #about a:hover{ 
	color: #dddddd; 
} 

div.question{
	color: #888888; 
}

div.answer{
	margin-left: 2%;
}

#text{
	display: block;
	position:absolute;
	top: 0px;
	left: 25%;
	font-size: 20px;
	bottom: 0px;
	overflow-y: scroll;
	max-width: 65%;
	min-width: 65%;
	padding: 4% 10% 4% 0%;
}

a { 
	color: #33ADAD;
	text-decoration: none;
} 
a:hover{ 
	color: #247979; 
} 

div.code{
	border-left: 24px solid;
	border-right: 24px solid;
	padding: 1px 0px 1px 0px;
	border-color: #dddddd;
	background-color: #dddddd;
}

::-webkit-scrollbar {
    max-width: 5px;
}
 
::-webkit-scrollbar-thumb {
    background-color: #338585;
}


h3,h4{
	color:#C2A385;
}

h5{
	padding-left: 10px;
	margin-top: -20px;
	color:#33ADAD;
	font-size: 13px;
}

span.date{
	color:#888888;
	padding-bottom: 100px;
}

div.sequence{
	text-align: right;
	padding-right: 100px;
}

.sym{
	color:#EBD699;
	font-weight:900;
}