html, body {
  height: 100%; }

body {
  font: 100% 'Open Sans', sans-serif;
  font-size: 20px;
  background-color: #666666; }

#titleContainer {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 10; }
  #titleContainer .centerMiddle {
    display: table-cell;
    vertical-align: middle; }
  #titleContainer .title {
    text-align: center;
    color: white;
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    font-size: 400%;
    font-weight: lighter;
    transition: text-shadow 0.1s;
    -moz-transition: text-shadow 0.1s;
    /* Firefox 4 */
    -webkit-transition: text-shadow 0.1s;
    /* Safari and Chrome */
    -o-transition: text-shadow 0.1s;
    /* Opera */ }
    #titleContainer .title a:hover {
      -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px yellow; }

a {
  text-decoration: none !important;
  color: inherit !important; }
  a:hover {
    color: inherit !important;
    text-decoration: none !important; }
  a:visited {
    color: inherit !important;
    text-decoration: none !important; }

#menuColor, #menu {
  position: absolute;
  top: 100%;
  right: 0;
  text-align: right; }

#menuColor {
  background: #33ADAD;
  z-index: 10; }

#menu {
  z-index: 11; }
  #menu div {
    padding: 0 23px;
    display: inline-block;
    border-bottom: solid transparent 5px; }
    #menu div a {
      flow: right; }
    #menu div:hover {
      border-color: #333333; }

.menuTrack {
  color: white;
  border-bottom: solid white 5px !important; }

#projectsContainer {
  margin: 55px auto; }
  #projectsContainer .projectBlock {
    -o-transition: color .2s ease-out, background .2s ease-in !important;
    -ms-transition: color .2s ease-out, background .2s ease-in !important;
    -moz-transition: color .2s ease-out, background .2s ease-in !important;
    -webkit-transition: color .2s ease-out, background .2s ease-in !important;
    transition: color .2s ease-out, background .2s ease-in !important; }
    #projectsContainer .projectBlock:hover {
      color: white;
      background: #33ADAD; }
