html, body {
  height: 100%; }

body {
  font: 100% 'Open Sans', sans-serif;
  font-size: 20px;
  background-color: #666666; }

#titleContainer {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 10; }
  #titleContainer .centerMiddle {
    display: table-cell;
    vertical-align: middle; }
  #titleContainer .title {
    text-align: center;
    color: white;
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    font-size: 400%;
    font-weight: lighter; }
    #titleContainer .title a {
      transition: text-shadow 0.2s;
      -moz-transition: text-shadow 0.2s;
      /* Firefox 4 */
      -webkit-transition: text-shadow 0.2s;
      /* Safari and Chrome */
      -o-transition: text-shadow 0.2s;
      /* Opera */ }
      #titleContainer .title a:hover {
        -webkit-stroke-width: 5.3px;
        -webkit-stroke-color: #FFFFFF;
        -webkit-fill-color: #FFFFFF;
        text-shadow: 1px 0px 20px yellow; }

a {
  text-decoration: none !important;
  color: inherit !important; }
  a:hover {
    color: inherit !important;
    text-decoration: none !important; }
  a:visited {
    color: inherit !important;
    text-decoration: none !important; }

#menuColor, #menu {
  position: absolute;
  top: 100%;
  right: 0;
  text-align: right; }

#menuColor {
  background: #33ADAD;
  z-index: 10; }

#menu {
  z-index: 11; }
  #menu div {
    padding: 0 23px;
    display: inline-block;
    border-bottom: solid transparent 5px; }
    #menu div a {
      flow: right; }
    #menu div:hover {
      border-color: #333333; }

.menuTrack {
  color: white;
  border-bottom: solid white 5px !important; }

#projectsContainer {
  margin: 55px auto;
  -webkit-column-count: 1;
  -webkit-column-gap: 0px;
  -webkit-column-fill: auto;
  -moz-column-count: 1;
  -moz-column-gap: 0px;
  -moz-column-fill: auto;
  column-count: 1;
  column-gap: 0px;
  column-fill: auto;
  -o-transition: color 0.2s ease-out, background 0.2s ease-in;
  -ms-transition: color 0.2s ease-out, background 0.2s ease-in;
  -moz-transition: color 0.2s ease-out, background 0.2s ease-in;
  -webkit-transition: color 0.2s ease-out, background 0.2s ease-in;
  transition: color 0.2s ease-out, background 0.2s ease-in; }
  #projectsContainer .projectBlock {
    padding: 8px;
    display: inline-block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid; }
    #projectsContainer .projectBlock:hover {
      color: white;
      background: #33ADAD; }
    #projectsContainer .projectBlock a:hover {
      color: #666666 !important; }

.sidetitleNoroate, .sidetitle {
  color: #606060; }

.sidetitleNoroate {
  font-size: 200%; }

.sidetitle {
  font-size: 400%;
  resize: none;
  overflow: none;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-3); }

#blogContainer .sidetitle {
  float: right;
  margin-right: -260px;
  margin-top: 220px; }

#aboutContainer .sidetitle {
  float: left;
  margin-left: -130px;
  margin-top: 290px; }
#aboutContainer .sidetitleNoroate {
  display: inline-block;
  margin-left: -140px;
  margin-top: 380px;
  z-index: 0; }
#aboutContainer #faq {
  margin-top: -450px;
  z-index: 10;
  text-align: right; }
  #aboutContainer #faq .faqBlock {
    padding: 10px 21% 10px 34%;
    -o-transition: color 0.2s ease-out, background 0.2s ease-in;
    -ms-transition: color 0.2s ease-out, background 0.2s ease-in;
    -moz-transition: color 0.2s ease-out, background 0.2s ease-in;
    -webkit-transition: color 0.2s ease-out, background 0.2s ease-in;
    transition: color 0.2s ease-out, background 0.2s ease-in; }
    #aboutContainer #faq .faqBlock:hover {
      color: white;
      background: #33ADAD; }
  #aboutContainer #faq h2 {
    font-size: 120%; }
  #aboutContainer #faq p {
    font-size: 80%; }

#contactContainer .contactLink {
  display: inline-block;
  margin: 3%;
  font-size: 200%; }
  #contactContainer .contactLink i:hover {
    color: #E69316; }

#footer {
  height: 50px;
  font-size: 12px;
  color: #333333;
  text-align: center; }

/***/
.displayerContainer {
  position: absolute;
  background-size: cover;
  background-position: center;
  display: table;
  overflow: none;
  background-blend-mode: overlay; }
  .displayerContainer:hover {
    -o-transition: color 0.2s ease-out, background 0.2s ease-in;
    -ms-transition: color 0.2s ease-out, background 0.2s ease-in;
    -moz-transition: color 0.2s ease-out, background 0.2s ease-in;
    -webkit-transition: color 0.2s ease-out, background 0.2s ease-in;
    transition: color 0.2s ease-out, background 0.2s ease-in;
    cursor: pointer;
    background-color: #E69316 !important; }
    .displayerContainer:hover .postSubtitle {
      color: #eeeeee; }

.postContext {
  padding: 13% 8% 8% 8%;
  color: white;
  overflow: none;
  height: inherit; }

.postContext a, .archiveContainer a {
  color: white;
  text-decoration: none; }
  .postContext a:hover, .archiveContainer a:hover {
    color: #666666 !important; }

.postTitle {
  font-size: 20px; }

.postSubtitle {
  padding-left: 10px;
  color: #aaaaaa; }

@media (max-width: 1100px) {
  .sidetitleNoroate, .sidetitle {
    color: transparent;
    display: none;
    margin-left: -3000px; }
  #aboutContainer #faq .faqBlock {
    padding: 10px 21%; } }

@media (max-width: 720px) {
  #aboutContainer #faq .faqBlock {
    padding: 10px 11%; } }

@media (min-width: 720px) {
  #projectsContainer {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; } }

@media (min-width: 1100px) {
  #projectsContainer {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; } }
