body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#timeCountDown{
	font-size: 500%;
}

#timeLocation{
	padding-bottom: 15%;
}

#timeTitle{
	padding-top:10%;
}

#cityName{
	font-size: 30px;
	border-radius: 4px;
	padding: 4px;
}
#cityName:hover{
	cursor: pointer;
	background-color: #efefef;
}

.siteTitle{
	font-size: 300%;
	padding-top:15%;
}

#header{
	/*width: 100%;*/
	height: 100%;
}

#footer{
	margin-top:100px;
	padding-bottom:100px;
}

#spinner{
	text-align: center;
}

.spinner{
	position:relative !important;
	top:20px !important;
}