body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#timeCountDown{
	font-size: 500%;
	padding-bottom: 15%;
}

#timeTitle{
	padding-top:10%;
}

.siteTitle{
	font-size: 300%;
	padding-top:15%;
}

#header{
	/*width: 100%;*/
	height: 100%;
}

#footer{
	margin-top:100px;
	padding-bottom:100px;
}

/*#particles-js{
	position:fixed;
	height: 100%;
	width: 100%;
	background-color: #aaaaaa;
	z-index:-1;
}*/