doctype html
html(data-ng-app, lang="en")
	head
		//- meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
		title GOLDENRATI&Phi;
		script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(type="text/javascript" src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js")
		// script(type="text/javascript" src="node_modules/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js")
		// script(type="text/javascript" src="node_modules/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js")
		// script(type="text/javascript").
		// 	// ScrollMagic
		// 	var controller = new ScrollMagic.Controller();
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans")
		link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="style.css")
	body
		include title.jade

		#projectsContainer.container(ng-controller="projectCtrl")
			.projectBlock.col-md-4(ng-repeat="p in projects", ng-init="$last ? refresh() : null")
				div(data-sr="enter top, reset") 
					h2 {{p.name}}
					p {{p.content}}

		#footer

		script(type="text/javascript" src="node_modules/scrollreveal/dist/scrollReveal.min.js")
		script(type='text/javascript').
			function projectCtrl($scope) {
				$scope.projects = [
					{name:"HackNight", content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."},
					{name:"Nekophilia", content: "Vivamus ac sapien euismod, lacinia augue eget, imperdiet purus."},
					{name:"octopusXfractal",content:"Nulla sit amet nibh ut ipsum rutrum iaculis a sit amet justo."},
					{name:"a1+a2=a3",content:"Nam eget ante commodo, interdum turpis in, posuere libero."},
					{name:"<(='3'=)>",content:"Vivamus pellentesque libero a mollis bibendum."},
					{name:"Nulla nulla nutella!",content:"Nulla nec nulla eu nisi malesuada interdum in eu felis."},
					{name:"ProjectArchimedes",content:"Morbi eget mauris eget erat porta condimentum."},
					{name:"48 days of coffee and samosas",content:"Vivamus malesuada leo tincidunt sapien ultricies tristique."},
					{name:"how to talk in lorem ipsum",content:"Praesent tempor nunc id lorem viverra vulputate."},
					{name:"fillThe_Blank",content:"Pellentesque condimentum dolor quis nibh placerat pretium."},
					{name:"*SWAG*",content:"Aenean dapibus dui sit amet orci consectetur lacinia."},
					{name:"damnHard 2 find a name",content:"Vivamus pulvinar nibh non volutpat lacinia."},
					{name:"Red-Black Tree",content:"Curabitur congue arcu a porttitor sagittis."}
				];
				$scope.refresh = function() {
					//scrollReveal
					window.sr = new scrollReveal();
				};
			}
		script(type="text/javascript" src="script/scroll.js")
		script(type="text/javascript" src="script/flower.js")
		script(type="text/javascript" src="script/resize.js")