#titleContainer
	.title 
		a(href="index.html") GOLDENRATI&Phi;
	.centerMiddle 
		canvas#logoAnimate

#menuColor 
#menu
	div(data-sr='ease-in 34px')
		a(href="") timeline
	div(data-sr='ease-in 34px, wait 0.1s')
		a(href="") blog
	div(data-sr='ease-in 34px, wait 0.3s')
		a(href="") portfolio
	div(data-sr='ease-in 34px, wait 0.6s')
		a(href="") about

