#titleContainer
	.title 
		a(href="index.html") GOLDENRATI&Phi;
	.centerMiddle 
		canvas#logoAnimate

#menu
	div(data-sr='ease-in 34px')
		a(href="") blog
	div(data-sr='ease-in 34px, wait 0.2s')
		a(href="") timeline
	div(data-sr='ease-in 34px, wait 0.4s')
		a(href="") portfolio

