#titleContainer
	.title 
		a(href="index.html") GOLDENRATI&Phi;
	.centerMiddle 
		canvas#logoAnimate

#menuColor 
#menu
	div(data-sr='ease-in 21px')
		a(href="") timeline
	div(data-sr='ease-in 34px')
		a(href="") blog
	div(data-sr='ease-in 55px')
		a(href="") portfolio
	div(data-sr='ease-in 89px')
		a(href="") about

