#titleContainer
	.title 
		a(href="index.html") GOLDENRATI&Phi;
	.centerMiddle 
		canvas#logoAnimate

#menuColor 
#menu
	div#projectMenu(data-sr='ease-in 21px')
		a(href="") portfolio
	div#blogMenu(data-sr='ease-in 34px')
		a(href="") blog
	div#aboutMenu(data-sr='ease-in 55px')
		a(href="") about
	div#contactMenu(data-sr='ease-in 89px')
		a(href="") contact

