.displayerContainer{
	position: absolute;
	background-size: cover;
	background-blend-mode:multiply;
	}
.displayerContainer:hover{
	cursor: pointer;
}
.postContext{
	background-color: rgba(0,0,0,0.4);
	padding: 13% 8% 8% 8%;
	color: white;
}
.postContext a{
	color:white;
	text-decoration: none;
}
.postContext a:hover{
	color:#AAAAAA;
}
.postTitle{
	font-size: 20px;
}
.postSubtitle{
	padding-left: 10px;
	color:#aaaaaa;
}

.smallTitle{
}



.titleBar{
	position:absolute;
	z-index: 10;
	width: 100%;
}