/*#postsDisplayer{
	background-image:url('image/background.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}*/

#footer{
	/*background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) , #555555), url('image/background.png');
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,0) , #555555),url('image/background.png');
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0) , #555555),url('image/background.png');
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) , #555555),url('image/background.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode:multiply;*/
	background-color:#666666;
}

body{
	background-color:rgba(102,153,153,1);
}

.displayerContainer{
	position: absolute;
	background-size: cover;
	background-blend-mode:multiply;
	display: table;
	/*opacity: 0.8;*/
}
.displayerContainer:hover{
	cursor: pointer;
}
.postContext{
	display: table-cell;
	background-color: rgba(0,0,0,0.6);
	padding: 13% 8% 8% 8%;
	color: white;
}
.postContext a, .archiveContainer a{
	color:white;
	text-decoration: none;
}
.postContext a:hover, .archiveContainer a:hover{
	color:#AAAAAA;
}
.postTitle{
	font-size: 20px;
}
.postSubtitle{
	padding-left: 10px;
	color:#aaaaaa;
}
/*
.smallTitle{
}*/

.archiveContainer{
	padding-top:20px;
}

.titleBar{
	position:fixed;
	z-index: 10;
	width: 100%;
	background-color: rgba(0,0,0,0);
}
