.displayerContainer{
	position: absolute;
}
.displayerContainer:hover{
	cursor: pointer;
}
.postTitle{
	margin:13% 13% 0 13%;
	font-size: 20px;
}
.postSubtitle,.postText{
	margin:0 13% 0 13% ;
}
.titleBar{
	position:absolute;
	z-index: 10;
	width: 100%;
}