<html data-ng-app>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="timeline.css">
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body data-ng-controller="timelineCtrl">
	<div ng-view style="padding-top:10%;">
		<ul class="timeline">
			<li class="year"><div>Now</div></li>
			<li data-ng-repeat="dat in timelineData">
				<div class="year" ng-if="$index > 0 && dat.date.split('/')[2] != timelineData[$index-1].date.split('/')[2]">
					<div>20{{timelineData[$index-1].date.split('/')[2]}}</div>
				</div>
				<div class="event" ng-if="dat.type == 'e'">
					<div class="node" id="{{$index}}" onmouseover="showContent(this.id)" onmouseout="hideContent(this.id)"></div>
					<div class="content" id="{{$index}}" onmouseover="showContent(this.id)" onmouseout="hideContent(this.id)">
						<a target="blank" ng-if="dat.link && dat.link != '?'" href="{{dat.link}}">{{dat.name}}</a>
						<a target="blank" ng-if="!dat.link" href="../archive/{{dat.url}}.html">{{dat.name}}</a>
						<span ng-if="dat.link == '?'">{{dat.name}}</span>
						<br> {{dat.date}}
						<div id="{{'c'+$index}}">{{dat.content}}</div>
					</div>
				</div>
			  	<div class="project" ng-if="dat.type != 'e'">
					<div id="{{$index}}"class="node" onmouseover="showContent(this.id)" onmouseout="hideContent(this.id)" style="background-image:url('../image/{{dat.url}}.png');"></div>
					<div class="content" id="{{$index}}" onmouseover="showContent(this.id)" onmouseout="hideContent(this.id)">
						<a target="blank" ng-if="dat.link && dat.link != '?'" href="{{dat.link}}">{{dat.name}}</a>
						<a target="blank" ng-if="!dat.link" href="../archive/{{dat.url}}.html">{{dat.name}}</a>
						<span ng-if="dat.link == '?'">{{dat.name}}</span>
						<br> {{dat.date}}

						<div id="{{'c'+$index}}">{{dat.content}}</div>
					</div>
				</div>
			</li>
			<li class="year"><div>20{{timelineData[timelineData.length-1].date.split('/')[2]}}</div></li>
		</ul>
	</div>
	</body>
	<script src="../archive/posts.js"> </script>
	<script src="timelinedata.js"> </script>
	<script>
		function showContent(_id){
			$("#c"+_id).finish();
			$("#c"+_id).fadeIn("fast");
		}
		function hideContent(_id){
			$("#c"+_id).finish();
			$("#c"+_id).fadeOut("fast");
		}
		function timelineCtrl($scope) {
        	$scope.timelineData = getData();
    	}
	</script>
</html>