body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 350px;
  height: 350px;
  margin-top: 10px;
}

#main {
  float: left;
  width: 300px;
}

/*#sidebar {
  float: right;
  width: 100px;
}*/

#sequence {
  width: 300px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 130px;
  left: 105px;
  width: 90px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 1.5em;
}
