/*html { 
	background: url('1.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

body{
    margin: 100px;
    font-family: sans-serif;
}
#menuBar{
    width:340px;
    height:100%;
    display:block;
    position: fixed;
    top:50px;
    right:0px;
}
#code, #logo, .title, span.comment{
	font-family: "Lucida Console";
}
#logo, .title, span.comment{
    width: 60%;
    text-align: left;
}
#logo{
	font-size: 20px;
}
ul#nav li{
    list-style:none;
    width:100px;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    color: #FFFFFF;
    margin: 6px;
    padding: .3em 0em;
}
 ul#nav li:hover{
	background-color: rgba(0,0,0,0.6);
	cursor: pointer; 
	cursor: hand;
}

span.blue{
	color:#6666FF;
}

span.red{
	color:#FF9966;
}

span.green{
	color:#339933;
}

span.comment{
	color:#666666;
}

span.turquoise{
	color:#007999;
} 

.toggle:hover {
	background-color: rgba(0,0,0,0.1);
	cursor: pointer; 
	cursor: hand;
}

p { 
	margin:0;
}

h4.subtitle{
	color:#999999;
	text-transform: uppercase;
}

hr{
	margin: 30px;
}

a{
	text-decoration: none;
}