
/*#EAF9B6 #C7E077 #89A236 #50640D #1E2700*/
/*#555555 #666666 #aaaaaa*/

body {
	background-color : #ffffff;
	margin: 0px;
	font-family: 'Helvetica';
}

H1 {
	color: #555555;
	font-weight: bold;
}

div{
	border-width:0px;
}

#book {
	position: absolute; 
	top: 0; 
	left: 100px; 
	height: 100%;
	width: 70%;
	min-width: 300px;
	z-index:1;
	border-width: 0px;
}

#shelf, #menu{
	background-color: #555555;
	color: #ffffff;
}

#menu {
	position: absolute; 
	top: 0; 
	left: -200px; 
	height: 100%;
	width: 250px;
	z-index:2;
	overflow-y: scroll;
	overflow-x: hidden;
}

#bookmarks, #menu_button, #info, #save {
	z-index:2;
	position: relative; 
	width: 30px;
	height: 30px;
}

#bookmarks:hover, #menu_button:hover, #save:hover {
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#info:hover {
	opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

#save {
	top: 70px;
	left: 175px;
}

#menu_button {
	top: 110px;
	left: 140px;
}

#info {
	top: 10px;
	left: 100px;
	opacity: 0.1;
    filter: alpha(opacity=10);
}

#bookmarks {
	top: 30px;	
	left: 209px;
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
}

table#shelf {
	width: 200px;
	margin-left: 0px;
	margin-top: -1em;
	overflow: none;
}

td.title {
	padding-left:1em;
}

td.title:hover {
	background-color: #666666;
}

td#chapter {
	color: #aaaaaa;
	display: none;
}

a {
	color: #aaaaaa;
	text-decoration: none;
	padding-left:2em;
}

a:hover {
	color: #ffffff;
}

