#page1 h1{
	font-weight: 100;
	font-size: 55px;
	text-align: right;
	padding: 0;
	margin: 0;
}
#page1 h1 span{
	color: #D86E3E;
	font-weight: 100;
}
#page1 h2{
	font-weight: 100;
	font-size: 21px;
	text-align: right;
	padding: 0;
	margin: 0;
}

#page1 img{
	width:0%;
}

#page2, #page3, #page4{
	overflow-y:auto;
}
#page2 a, #page3 a, #page4 a{
	color:black;
}
#page2 a:hover, #page3 a:hover, #page4 a:hover{
	color:white;
}
h3{
	/*display:block;*/
    /*position: fixed;*/
	/*top:1%;*/
	font-weight: 100;
	font-size: 55px;
	text-align: left;
	margin-left: 4%;
	margin-right: 4%;
	/*width: 30%;*/
	/*margin: 2% 0 0 0;*/
}
#worksTitle{
	/*right:2%;*/
	text-align: right;
}
/*#page4 h3{
	position: relative;
	margin-left: 2%;
	margin: 2% 0 0 0;
	left:2%;
}*/
#text2, #text3, #text4, #text44, #text444{
	text-align: left;
	font-weight: 200;
	font-size: 21px;
	padding: 0% 21% 0% 21%;
	display: none;
	overflow-y:none;
}
#text2, #text3, #text444 .tpPad{ 
	padding-bottom:6%;
}
.tpPad td{
	vertical-align: top;
	font-size: 20px;
}

.titleNote{
	font-size: 15px;
	color:#D86E3E;
}
#page5, #page5 a{
	color: #F6EEE3;
}

#page5 h1{
	font-weight: 100;
	padding-top: 13%;
	font-size: 34px;
}
#text5 span {
	color: #F6A472;
	font-weight: 100;
}

#text6, #text7{
	font-size: 34px;
	padding-top: 30%;
	display: none;
}
#text5, #text55{
	padding-top: 1%;
	display: none;
}
#text5{
	font-size: 55px;
}
#text55{
	font-size: 21px;
}
a{
	text-decoration: none;
	color:#445566;
}
a:hover, #page5 a:hover{
	color:white;
}