$font-stack: 'Open Sans', sans-serif;
$bg-blue: #33ADAD;
$bg-grey: #666666;
$bg-orag: #E69316;

$title-col: white;
$margins-sep:55px;
$pad-small:11%;

$menu-hover-border-col: #333333;
$bg-text-col:#606060;
$bg-small-text-col:#5c5c5c;

html, body{
	height:100%;
}

body{
	font: 100% $font-stack;
	font-size:20px;
	background-color: $bg-grey;
}
	
#titleContainer{
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
	z-index:10;
	.centerMiddle{
		display: table-cell;
		vertical-align: middle;
	}
	.title{
		// display: table-cell;
		// vertical-align: middle;
		text-align: center;
		color: $title-col;
		position:absolute;
		top: 45%;
	 	left: 0;
	 	width:100%;
		font-size: 400%;
		font-weight: lighter;
		a{
			transition: text-shadow 0.2s;
			-moz-transition: text-shadow 0.2s; /* Firefox 4 */
			-webkit-transition: text-shadow 0.2s; /* Safari and Chrome */
			-o-transition: text-shadow 0.2s; /* Opera */
			&:hover{
				// cursor: pointer;
				-webkit-stroke-width: 5.3px;
				-webkit-stroke-color: #FFFFFF;
				-webkit-fill-color: #FFFFFF;
				text-shadow: 1px 0px 20px yellow;
			}
		}
	}
}

a{
	text-decoration:none !important;
	color: inherit !important;
	&:hover{
		// cursor: pointer;
		color: inherit !important;
		text-decoration:none !important;
	}
	&:visited{
		color: inherit !important;
		text-decoration:none !important;
	}
}

#menuColor, #menu{
	position:absolute;
	top:100%;
	right:0;
	text-align:right;
}
#menuColor{
	background:$bg-blue;
	z-index:10;
}
#menu{
	z-index:11;
	div{
		padding:0 23px;
		display:inline-block;
		border-bottom: solid transparent 5px;
		a{
			flow:right;
		}
		&:hover{
			border-color: $menu-hover-border-col;
		}
	}
}
.menuTrack{
	color:$title-col;
	border-bottom: solid $title-col 5px !important;

}

@mixin fade-transition($time) {
	-o-transition:color $time ease-out, background $time ease-in;
	-ms-transition:color $time ease-out, background $time ease-in;
	-moz-transition:color $time ease-out, background $time ease-in;
	-webkit-transition:color $time ease-out, background $time ease-in;
	transition:color $time ease-out, background $time ease-in;
}
@mixin column-div() {
	margin: $margins-sep auto;
	-webkit-column-count: 1;
	-webkit-column-gap: 0px;
	-moz-column-count: 1;
	-moz-column-gap: 0px;
	column-count: 1;
	column-gap: 0px;
}
@mixin column-div-block(){
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
}

#projectsContainer{
	padding: 0 8%;
	@include column-div();
	.projectBlock{
		display: block;
		padding:21px;
		@include fade-transition(.2s);
		@include column-div-block();
		&:hover{
			color:$title-col;
			background:$bg-blue;
		}
		a:hover{
			color:$bg-grey !important;
		}
		h2{
			margin-top:10px;
		}
	}

}


.sidetitleNoroate{
	font-size:150%;
	color:$bg-small-text-col;
}

.sidetitle{
	color:$bg-text-col;
	line-height: 80%;
	font-size:400%;
	resize: none;
	overflow:none;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-3);
}

#blogContainer{
	.sidetitle{
		float:right;
		margin-right:-260px;
		margin-top:220px;
	}
}

#porfolioContainer{
	position: absolute;
	top:105%;
	left:0;
	.sidetitle{
		float:right;
		margin-left:-475px;
		margin-top:210px;
	}
	.sidetitleNoroate{
		display:inline-block;
		margin-left:100px;
		margin-top:-80px;
	}
}

#aboutContainer{
	.sidetitle{
		float:left;
		margin-left:-130px;
		margin-top:290px;
	}
	.sidetitleNoroate{
		display:inline-block;
		margin-left:-140px;
		margin-top:380px;
		z-index:0;
	}
	#faq{
		margin-top:-450px;
		z-index:10;
		text-align:right;
		.faqBlock{
			padding: 10px 21% 10px 34%;
			@include fade-transition(.2s);
			&:hover{
				color:$title-col;
				background:$bg-blue;
			}
		}
		h2{
			font-size:120%
		}
		p{
			font-size:80%;
		}
	}
}

#contactContainer{
	.contactLink{
		display:inline-block;
		margin:3%;
		font-size:200%;
		i:hover{
			color:$bg-orag;
		}
	}
}

#footer{
	padding-bottom:100px;
	font-size: 12px;
	color:$menu-hover-border-col;
	text-align:center;
	#scrollUp{
		&:hover{
			cursor:pointer;
			color:$title-col;
		}
	}
}

/***/

.displayerContainer{
	position: absolute;
	background-size: cover;
	background-position: center;
	display:table;
	overflow:none;
	background-blend-mode: overlay;
	&:hover{
		@include fade-transition(.2s);
		cursor: pointer;
		background-color: $bg-orag !important;
		.postSubtitle, .postContext{
			color:#eeeeee;
		}
	}
}
.postContext{
	padding: 13% 8% 8% 8%;
	// color: $bg-blue;
	overflow:none;
	height:inherit;
}
.postContext, .archiveContainer{
	a{
		// color:white !important;
		text-decoration: none;
		&:hover{
			color:$bg-grey !important;
		}
	}
}

.postTitle{
	font-size: 25px;
}
.postSubtitle{
	padding-left: 10px;
	color:#444444;
}

// media

@media (max-width:1100px){
	.sidetitleNoroate, .sidetitle{
		color:transparent;
		display:none;
		margin-left:-3000px;
	}
	#aboutContainer #faq .faqBlock{
		padding:10px 21%;
	}
}

@media (max-width: 720px) {
	#aboutContainer #faq .faqBlock{
		padding:10px 11%;
	}
	body{
		background-color: #999999;
	}
}

@media (min-width: 720px) {
	#projectsContainer {
		padding: 0 8%;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		.projectBlock{
			display:inline-block;
		}
	}
}

@media (min-width: 1400px) {
	#projectsContainer {
		padding: 0 13%;
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
	
}