$font-stack: 'Open Sans', sans-serif;
$bg-blue: #33ADAD;
$bg-grey: #666666;
$bg-orag: #E69316;

$title-col: white;
$margins-sep:55px;
$pad-small:11%;

$menu-hover-border-col: #333333;
$bg-text-col:#606060;

html, body{
	height:100%;
}

body{
	font: 100% $font-stack;
	font-size:20px;
	background-color: $bg-grey;
}
	
#titleContainer{
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
	z-index:10;
	.centerMiddle{
		display: table-cell;
		vertical-align: middle;
	}
	.title{
		// display: table-cell;
		// vertical-align: middle;
		text-align: center;
		color: $title-col;
		position:absolute;
		top: 45%;
	 	left: 0;
	 	width:100%;
		font-size: 400%;
		font-weight: lighter;
		transition: text-shadow 0.1s;
		-moz-transition: text-shadow 0.1s; /* Firefox 4 */
		-webkit-transition: text-shadow 0.1s; /* Safari and Chrome */
		-o-transition: text-shadow 0.1s; /* Opera */
		a:hover{
			// cursor: pointer;
			-webkit-stroke-width: 5.3px;
			-webkit-stroke-color: #FFFFFF;
			-webkit-fill-color: #FFFFFF;
			text-shadow: 1px 0px 20px yellow;
		}
	}
}

a{
	text-decoration:none !important;
	color: inherit !important;
	&:hover{
		// cursor: pointer;
		color: inherit !important;
		text-decoration:none !important;
	}
	&:visited{
		color: inherit !important;
		text-decoration:none !important;
	}
}

#menuColor, #menu{
	position:absolute;
	top:100%;
	right:0;
	text-align:right;
}
#menuColor{
	background:$bg-blue;
	z-index:10;
}
#menu{
	z-index:11;
	div{
		padding:0 23px;
		display:inline-block;
		border-bottom: solid transparent 5px;
		a{
			flow:right;
		}
		&:hover{
			border-color: $menu-hover-border-col;
		}
	}
}
.menuTrack{
	color:$title-col;
	border-bottom: solid $title-col 5px !important;

}

@mixin fade-transition($time) {
	-o-transition:color $time ease-out, background $time ease-in;
	-ms-transition:color $time ease-out, background $time ease-in;
	-moz-transition:color $time ease-out, background $time ease-in;
	-webkit-transition:color $time ease-out, background $time ease-in;
	transition:color $time ease-out, background $time ease-in;
}

#projectsContainer{
	margin: $margins-sep auto;
	// padding:$pad-small;
	-webkit-column-count: 1;
	-webkit-column-gap: 0px;
	-webkit-column-fill: auto;
	-moz-column-count: 1;
	-moz-column-gap: 0px;
	-moz-column-fill: auto;
	column-count: 1;
	column-gap: 0px;
	column-fill: auto;
	.projectBlock{
		padding:8px;
		display: inline-block;
		-webkit-column-break-inside: avoid;
		-moz-column-break-inside: avoid;
		column-break-inside: avoid;
		@include fade-transition(.2s);
		&:hover{
			color:$title-col;
			background:$bg-blue;
		}
		a:hover{
			color:$bg-grey !important;
		}
	}

}

@media (min-width: 720px) {
	#projectsContainer {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media (min-width: 1100px) {
	#projectsContainer {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

#blogContainer{
	.title{
		float:left;
		margin-left:-280px;
		margin-top:250px;
		overflow:none;
		font-size:400%;
		color:$bg-text-col;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
}

#contactContainer{
	// .title{
	// 	float:left;
	// 	margin-left:-100px;
	// 	margin-top:100px;
	// 	overflow:none;
	// 	font-size:400%;
	// 	color:$bg-text-col;
	// 	-webkit-transform: rotate(-90deg);
	// 	-moz-transform: rotate(-90deg);
	// 	-ms-transform: rotate(-90deg);
	// 	-o-transform: rotate(-90deg);
	// 	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	// }
	.contactLink{
		display:inline-block;
		margin:3%;
		font-size:200%;
		i:hover{
			color:white;
		}
	}
}


/***/

.displayerContainer{
	position: absolute;
	background-size: cover;
	background-position: center;
	display:table;
	overflow:none;
	background-blend-mode: overlay;
	&:hover{
		@include fade-transition(.2s);
		cursor: pointer;
		background-color: $bg-orag !important;
		.postSubtitle{
			color:#eeeeee;
		}
	}
}
.postContext{
	padding: 13% 8% 8% 8%;
	color: white;
	overflow:none;
	height:inherit;
}
.postContext, .archiveContainer{
	a{
		color:white;
		text-decoration: none;
		&:hover{
			color:$bg-grey !important;
		}
	}
}

.postTitle{
	font-size: 20px;
}
.postSubtitle{
	padding-left: 10px;
	color:#aaaaaa;
}